.td-editor {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }

  .ce-block--stretched {
    position: relative;
    @media (min-width: 768px) {
      position: relative;
      margin-left: calc(50% - 32vw);
      margin-right: calc(50% - 32vw);
    }
  }
}
